---
const platform = "Github";
const username = "FirebirdCS";
---

<footer class="w-full text-center text-gray-400 py-4 mt-12">
  <p>Made by FirebirdCS, inspired by Midudev.</p>
  <p>
    Check my projects in
    <a
      href={`https://www.${platform}.com/${username}`}
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-300 hover:underline"
    >
      {platform}
    </a>
  </p>
</footer>
